/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Full Page Styling */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f6f6;
    background-image: url('fire.jpg'); /* Background Image */
    background-size: cover;
    background-position: center;
}

.logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

/* Branding Text */
.HopeBridge {
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
}


/* Wrapper for Split Layout */
.login-wrapper {
    display: flex;
    width: 800px;
    height: 350px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

/* Left Section - Login Form */
.login-container {
    width: 50%;
    padding: 40px;
    background: #ffffff;
}

h2 {
    font-size: 24px;
    color: #8e75a3;
}

p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

/* Input Fields */
.input-group {
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #C3C3C3;
    border-radius: 5px;
    font-size: 14px;
}

input:focus {
    outline: none;
    border-color: #d7c3e3;
    box-shadow: 0 0 5px #d7c3e3;
}

/* Login Button */
button {
    width: 100%;
    padding: 12px;
    background: #8e75a3;
    color: #d7c3e3;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: #472A5A;
}

/* Forgot Password */
.forgot-password {
    display: block;
    margin-top: 20px;
    color: #d7c3e3;
    font-size: 14px;
    text-decoration: none;

}

.forgot-password:hover {
    text-decoration: underline;
}

/* Right Section - Branding */
.brand-container {
    width: 50%;
    background: #8e75a3;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
