* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, Arial;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f6effa;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex-direction: column;
    padding-top: 70px;
    overflow: hidden;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    background-color: #000000;
}

.logo-container {
    display: flex;
    align-items: center;
}

.Logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.HopeBridge {
    font-size: 1.5em;
    color: #ffffff;
    user-select: none;
    font-weight: 900;
    text-decoration: none;
}

.HopeBridge::after {
    content: '';
    position: absolute;
    left: 65px;
    bottom: 14px;
    width: 165px;
    height: 3px;
    background: #ffffff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform 1s;
}

.HopeBridge:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.nav-menu {
    display: flex;
    align-items: center;
    margin-right:20px;
}

.nav-menu a {
    position: relative;
    font-size: 1em;
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
    margin-left: 50px;
}

.nav-menu a::after {
    content: '';
    position: absolute;
    left: -3px;
    right: 15px;
    bottom: -6px;
    width: 50px;
    height: 3px;
    background: #ffffff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform 1s;
}

.nav-menu a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

/* Main Content */
.content {
    flex-grow: 1;
    padding: 20px;
    background: #f6effa;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
}

.news-card {
    display: flex;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%; /* Full width */
}

.news-card img {
    width: 50%; /* Half of the screen width */
    height: 250px; /* Adjusted for a better aspect ratio */
    object-fit: cover;
}

.news-info {
    padding: 20px;
    flex: 1;
}

.news-info h3 {
    margin-bottom: 10px;
    color: #3b2253;
}

.news-info p {
    color: #6b4f8a;
}

.more-details {
    display: inline-block; /* Change to block or flex if needed */
    padding: 12px 24px;
    background-color: #9370DB;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight:normal;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
    border: none;
    text-decoration:none;
    margin-top:20px;
}

.more-details:hover {
    background-color: #7a5bbb;
    transform: scale(1.05);
}
