body {
    background-image: url('fire.jpg'); /* Optional: Background for the entire body */
    background-size: cover;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    flex-direction: column; /* Stack containers vertically */
    align-items: center; /* Center containers horizontally */
}

.login-container {
    background-color: #D9D9D9; /* Background for the login container */
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.logo-container {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center items horizontally */
}

.Logo {
    width: 70px; /* Set the desired width */
    height: 70px; /* Set the height to the same value as width */
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover; /* Ensures the image covers the area without distortion */
    margin-bottom: 5px; /* Space between logo and text */
}
label{
    font-size: 2em;
}

.HopeBridge {
    font-size: 2.5em;
    color: #472A5A;
    user-select: none;
    font-weight: 900;
    text-decoration: none;
    text-align: center; /* Center the text */
}

input[type="text"],
input[type="password"] {
    width: 80%;
    padding: 12px;
    margin: 20px auto;
    background-color: #C3C3C3;
    border: none;
    border-radius: 10px;
    display: block;
}

input[type="submit"] {
    background-color: #80479e;
    color: #d7cbdf;
    border: #ffff;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    width: 85%;
    display: block;
    margin: 10px auto;
    font-size: 15px;
    font-weight: 700;
}

input[type="submit"]:hover {
    background-color: #5b0098;
}

.forgot-password {
    margin-top: 10px; /* Space above the link */
    color: #000000; /* Link color */
    text-decoration: none; /* Remove underline */
    font-weight: 500;
    margin-bottom: 100px;
    margin-left: 30px;
}

.forgot-password:hover {
    text-decoration: underline; /* Underline on hover */
}

.signup-container {
    background-color: #D9D9D9; /* Background for the signup container */
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center; /* Center the text */
    margin-top: 50px; /* Space above and below the container */
}

.signup-container p {
    margin: 10px 0;
}

.signup-container a {
    color: #007bff; /* Link color */
    text-decoration: none; /* Remove underline */
}

.signup-container a:hover {
    text-decoration: underline; /* Underline on hover */
}